/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,300italic,300);
/** Página **/
/** Textos **/
/* Cores */
/** Adiciona cantos arredondados */
.container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.container .row {
  margin-top: 15px;
  margin-bottom: 15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
body#projecoes {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
}
body#projecoes ul {
  width: 1024px;
  height: 100%;
  margin: auto;
}
body#projecoes ul li {
  width: 1024px;
  height: 768px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
